<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>GET 요청 결과</h2>
    <ul>
      <li>이름: <%= user.username %></li>
      <li>성별: <%= user.gender %></li>
      <li>
        생일: <%= user.birthYear %>년 <%= user.birthMonth %>월 <%= user.birthDay
        %>일
      </li>
      <li>취미: <%= user.hobby %></li>
    </ul>
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
